@import '../../../styles/color.scss';
[data-tooltip]{
  position: relative;
  display:inline-block;
  margin: 20px;
  color: $iuColor;
  padding: 4px 6px;
}
[data-tooltip]::before {
  content: "";
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: $iuColor;
  z-index: 99;
  opacity:0;

  top:-5px;
  left:50%;
  transform: translateX(-50%);
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  background: $iuColor;
  text-align: center;
  color: #fff;        
  border-radius: 5px;
  padding:4px 2px;
  min-width: 80px;
  pointer-events: none;
  z-index:99;
  opacity:0;

  left:50%;
  top:-5px;
  transform: translateX(-50%)   translateY(-100%);
}

[data-tooltip]:hover::after,[data-tooltip]:hover::before{
  opacity: 1;
}
/* 右侧 */
[data-tooltip][data-position='right']::before{
  top: 50%;
  left:100%;
  margin-left: -3px;
  transform: translateY(-50%) rotate(90deg);
}
[data-tooltip][data-position='right']::after{
  top: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(-50%);
}
/* 左侧 */
[data-tooltip][data-position='left']::before{
  top: 50%;
  left:0;
  margin-left: -9px;
  transform: translateY(-50%) rotate(-90deg);
}
[data-tooltip][data-position='left']::after{
  top: 50%;
  left: 0;
  margin-left: -5px;
  transform: translateY(-50%) translateX(-100%);
}
/* 底侧 */
[data-tooltip][data-position='bottom']::before{
  top: 100%;
  left:50%;
  margin-top: 1px;
  transform: translatex(-50%) rotate(180deg);
}
[data-tooltip][data-position='bottom']::after{
  top: 100%;
  left: 50%;
  margin-top: 5px;
  transform: translatex(-50%) ;
}